@mixin mycont {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

@mixin mainlogo {
  width: 133px;
  height: 31px;
}
@mixin mysec {
  background: linear-gradient(
      to bottom,
      rgba(8, 174, 234, 0.5),
      rgba(42, 245, 152, 0.6)
    ),
    url(../css/kalen-emsley-94.png);
  background-size: cover;
  background-repeat: no-repeat;

  height: 500px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@mixin myh1 {
  font-family: "arial";
  font-weight: 400;
  line-height: 52.95845413208008px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

@mixin myh2 {
  font-family: "raleway";
  font-weight: 400;
  line-height: 37px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 2%;
}
@mixin cont2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
@mixin bigbox-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
}
@mixin marcxena-style {
  width: 242px;
  font-family: "raleway";
  margin-right: 30px;
}
@mixin myh3 {
  font-size: 16px;
  color: grey;
  margin-bottom: 15px;
}
@mixin myh4 {
  font-size: 26px;
  margin-bottom: 40px;
}
@mixin marcxena-p {
  font-size: 16px;
  color: grey;
}
@mixin marjvena-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@mixin marjvena-div {
  width: 280px;

  margin-bottom: 20px;
}
