html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media (max-width: 1250px) {
  .container2 {
    width: 90%;
  }
}
@media (max-width: 1150px) {
  .marjvena {
    justify-content: space-around;
  }
  .marjvena > div {
    width: 330px;
  }
}
@media (max-width: 890px) {
  .bigbox {
    flex-direction: column;
    align-items: center;
  }
  .marcxena {
    text-align: center;
    width: 350px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .marjvena > div {
    width: 500px;
    text-align: center;
  }
}
header .container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
header .container .logo {
  width: 133px;
  height: 31px;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li {
  margin-left: 20px;
  font-family: "raleway";
}

section {
  background: linear-gradient(to bottom, rgba(8, 174, 234, 0.5), rgba(42, 245, 152, 0.6)), url(../css/kalen-emsley-94.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
section h1 {
  font-size: 78.7405166626px;
}
section h2 {
  font-size: 18px;
}

.container2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.bigbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
}
.bigbox .marcxena {
  width: 242px;
  font-family: "raleway";
  margin-right: 30px;
}
.bigbox .marcxena h3 {
  font-size: 16px;
  color: grey;
  margin-bottom: 15px;
}
.bigbox .marcxena h4 {
  font-size: 26px;
  margin-bottom: 40px;
}
.bigbox .marcxena p {
  font-size: 16px;
  color: grey;
}
.bigbox .marjvena {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.bigbox .marjvena > div {
  width: 280px;
  margin-bottom: 20px;
}
.bigbox .marjvena > div > img {
  width: 100%;
}
.bigbox h6 {
  margin-bottom: 10px;
}/*# sourceMappingURL=global.css.map */